<p-tabView>
  <p-tabPanel header="Ingredientes" rightIcon="pi pi-check-square">
     <app-item-management></app-item-management>
  </p-tabPanel>
  <p-tabPanel header="Receitas" rightIcon="pi pi-book">
      <app-product-management></app-product-management>
  </p-tabPanel>
  <p-tabPanel header="Pedidos" rightIcon="pi pi-euro">
    <app-order-management></app-order-management>
</p-tabPanel>
  <p-tabPanel header="Gráficos" rightIcon="pi pi-chart-bar">
      <app-charts-management></app-charts-management>
  </p-tabPanel>
</p-tabView>